.leftmenu{
    display: block;
    background: rgb(224, 224, 224);
}

.container{
    height: 90vh;
    margin-top: .8rem;
}

body{
    background-color: #001029;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.colorsaver{
    background: #494949;
    width: 5rem;
    height: 5rem;
}

.colorsavertext{
    background: #fefefe;
    width: 10rem;
}

.buttonwrapper{
    background: rgb(116, 116, 116);
    height: 80vh;
}

.one{
    background: #585B76;
}
.two{
    background: #3ECE81;
}
.three{
    background: #F64FB8;
}
.four{
    background: #40C3D1;
}
.five{
    background: #84AB40;
}

#currentvalue{
    color: rgb(187, 187, 187);
}

#btnTwo{
    pointer-events: none;
}

.removepointer{
    pointer-events: none;
}

@media (max-width: 991px){
    #btnOne{
        display: none;
    }
    #btnTwo{
        display: none;
    }
    .remover{
        display:none;
    }
    .rawr{
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}
