body{
    margin:0;
    padding:0;
    background-color: #282631 !important;
    width: 100%;
	justify-content: center;
  }
  .eye{
    margin: auto;
  /*   background:#ccc; */
  }
  .pupil{
    position:relative;
  /*   transform:  rotate(390deg); */
  /*   transform-origin: 20px center; */
  }

  .examples{
    display: flex;
    justify-content: space-around;
  }

  #all{
    height: 100vh;
  }

  .wrap {
    margin-top: 150px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  .cube {
    margin: auto;
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
  }
  
  .cube > div {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    background-color: rgb(214, 214, 214);
    border: solid 1px rgb(34, 34, 34);
    color: #ffffff;
  }

  .front {
    transform: translateZ(100px);
  }
  
  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }
  
  .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
  }
  
  .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
  }
  
  .top {
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
  }
  
  .bottom {
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
  }

  @keyframes rotate {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  .cube {
    animation: rotate 20s infinite linear;
  }

  .wrap:hover .front {
    transform: translateZ(200px);
  }
  
  .wrap:hover .back {
    transform: translateZ(-200px) rotateY(180deg);
  }
  
  .wrap:hover .right {
    transform: rotateY(-270deg) translateZ(100px) translateX(100px);
  }
  
  .wrap:hover .left {
    transform: rotateY(270deg) translateZ(100px) translateX(-100px);
  }
  
  .wrap:hover .top {
    transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
  }
  
  .wrap:hover .bottom {
    transform: rotateX(270deg) translateZ(100px) translateY(100px);
  }

  .cube > div {
    transition: transform 0.2s ease-in;
  }

.front{
    background-size: contain;
    width: 100%; height: 100%;
}

.cubo{
    width: 100%;
    display:block;
    margin: auto auto auto auto;
}